.mp3 filter=lfs diff=lfs merge=lfs -text
autom4te.cache/* linguist-vendored=true
libraries/gpio/gpio.1 linguist-vendored=true
*.m4 linguist-vendored=true
*.ac linguist-vendored=true
.deps/ParallaxServoLib.Po linguist-vendored=true
Makefile.* linguist-vendored=true
/libraries/*/Makefile linguist-vendored=true
*sh linguist-vendored=true
*.mp3 filter=lfs diff=lfs merge=lfs -text
