<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Code2Xml" version="1.4.0.2" targetFramework="net45" />
  <package id="CodeCoverageGenerationTool" version="1.0.1" targetFramework="net45" />
  <package id="coveralls.net" version="0.7.0" targetFramework="net45" developmentDependency="true" />
  <package id="NuGetDebugTools" version="1.4.1" targetFramework="net45" developmentDependency="true" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="OpenCodeCoverageFramework" version="1.1.0.46" targetFramework="net45" />
  <package id="OpenCover" version="4.6.519" targetFramework="net45" />
  <package id="Paraiba" version="1.0.0.10" targetFramework="net45" />
  <package id="Paraiba.Experiment" version="1.0.1.15" targetFramework="net45" />
  <package id="ReportGenerator" version="2.5.1" targetFramework="net45" />
  <package id="Simplify.Resources" version="1.0.0" targetFramework="net45" />
  <package id="Simplify.Windows.Forms" version="1.0.0" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net45" />
  <package id="Xamarin.Forms" version="2.3.3.175" targetFramework="net45" />
</packages>